{{template "header.tmpl" .}}

	<nav class="navbar navbar-dark bg-inverse">
	  <a class="navbar-brand" data-toggle="tab" href="index.html">wallabag Statistics</a>
	  <ul class="nav navbar-nav">
	    <li class="nav-item">
	      <a class="nav-link" href="index.html">Graphs</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="data-table.html">Data Table <span class="sr-only">(current)</span></a>
	    </li>
	  </ul>
	</nav>

	<table border=1>
		<tr>
			<th>No.</th>
			<th>Date</th>
			<th>Total</th>
			<th>Unread</th>
			<th>Starred</th>
		</tr>
		{{range .TableData}}<tr>
			<td>{{ .No }}</td>
			<td>{{ .Times }}</td>
			<td>{{ .Total }}</td>
			<td>{{ .Unread }}</td>
			<td>{{ .Starred }}</td>
		</tr>
		{{else}}<tr><td colspan="5"><strong>no data</strong></td></tr>{{end}}
	</table>

{{template "footer.tmpl" .}}
