<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>wallabag Statistics</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css" integrity="sha384-AnkzRSe4D0OPNWdNFQAogo5tND3Tq+QkxgsAW0z1l1FsZFL9JM4Ny4eOnprBjSHl" crossorigin="anonymous">
  </head>
  <body>
