{{template "header.tmpl" .}}

	<nav class="navbar navbar-dark bg-inverse">
	  <a class="navbar-brand" data-toggle="tab" href="index.html">wallabag Statistics</a>
	  <ul class="nav navbar-nav">
	    <li class="nav-item">
	      <a class="nav-link" href="index.html">Graphs <span class="sr-only">(current)</span></a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="data-table.html">Data Table</a>
	    </li>
	  </ul>
	</nav>

	<ul class="nav nav-tabs" role="tablist">
	  <li class="nav-item">
	    <a class="nav-link" role="tab" data-toggle="tab" href="#twentyfourhours">Last Day</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" role="tab" data-toggle="tab" href="#sevendays">Last Week</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" role="tab" data-toggle="tab" href="#fourweeks">Last Month</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" role="tab" data-toggle="tab" href="#twelvemonths">Last Year</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link active" role="tab" data-toggle="tab" href="#overall">Overall</a>
	  </li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
	  <div class="tab-pane" id="twentyfourhours" role="tabpanel">
		<h2>Chart Last Day</h2>
		<p><img src="chart-day.png" class="img-fluid" /></p>
	  </div>
	  <div class="tab-pane" id="sevendays" role="tabpanel">
		<h2>Chart Last Week</h2>
		<p><img src="chart-week.png" class="img-fluid" /></p>
	  </div>
	  <div class="tab-pane" id="fourweeks" role="tabpanel">
		<h2>Chart Last Month</h2>
		<p><img src="chart-month.png" class="img-fluid" /></p>
	  </div>
	  <div class="tab-pane" id="twelvemonths" role="tabpanel">
		<h2>Chart Last Year</h2>
		<p><img src="chart-year.png" class="img-fluid" /></p>
	  </div>
	  <div class="tab-pane active" id="overall" role="tabpanel">
	    <h2>Chart Overall</h2>
		<p><img src="chart-overall.png" class="img-fluid" /></p>
	  </div>
	</div>

{{template "footer.tmpl" .}}
